<html>
  <body>
  <h1>Калькулятор кредитов</h1>
  <h2>1 режим работы:</h2>
  <div>При вводе размера кредита и ставки кредита будет показан только 2ой график, отображающий переплату по кредиту.</div>
  <div>Позволяет подобрать срок выплаты кредита.</div>
  <div>Оранжевая линия размер займа, синяя сумарная выплата.</div>
  <div>2ой график показывается во всех 4 режимах работы.</div>
  <h2>2 режим работы:</h2>
  <div>При вводе размера кредита, ставки кредита и срока выплаты будет показан ещё и 1ый график, отображающий размер ежемесячных выплат и части уходящие на оплату тела кредита и процентов.</div>
  <h2>3 режим работы:</h2>
  <div>При вводе размера кредита, ставки кредита и максимально возможной месячной платы будет показан 1ый график, с наименьшим возможным периодом.</div>
  <div>Если размер выплат недостаточный для погашения кредита, то график не будет отображен.</div>
  <h2>4 режим работы:</h2>
  <div>При вводе размера кредита, ставки кредита, срока выплаты и максимально возможной месячной платы будет показан 1ый график.</div>
  <div>Если месячная плата достаточна, то отобразится график соответствующий ей, иначе соответствующий введенному периоду.</div>
  <div>_____________________________________________________________________________________________________________________________</div>
  <iframe src="http://localhost:5000/dash" width=1000 height=1500>
  </body>
</html>
